*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    background: #ee0979;
    background: -webkit-linear-gradient(to left, #ff6a00, #ee0979);
    background: linear-gradient(to left, #ff6a00, #ee0979);


}

h1{
    font-size: 5rem;
    color: white;
    text-shadow: -1px 0 black, 0 2px black, 5px 0 black, 0 -1px black;
    will-change: transform;
    transition: transform 450ms;
    margin-top: 2%;
}

h1:hover{
    transition: transform 125ms;
    transform: translateY(-10px);
}


header,form{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    margin: 5px;
    box-shadow: 5px 0px 25px white;
    border-style: solid;
}

form button{
    color: black;
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin: 5px;
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
    padding:10px;
    border-radius:10px;
    border-style: solid;
}

form button:hover{
    color: white;
    background: #000000;
    background: -webkit-linear-gradient(to left, #434343, #000000);
    background: linear-gradient(to left, #434343, #000000);

}

form input{
    color: black;
    background: white;
    cursor: text;
    transition: all 0.3 ease;
    margin: 5px;
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
    padding:10px;
    border-radius:10px;
    border-style: solid;
    
}

form input:hover{
    color: white;
    background: #000000;
    background: -webkit-linear-gradient(to left, #434343, #000000);
    background: linear-gradient(to left, #434343, #000000);
}

.todo-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.todo-List{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 10px;
    border-style: solid;
}

.todo li{
    flex: 2;
}

.trash-btn, .complete-btn, .date-btn, .clock-btn{
    background: red;
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.3rem;
}

.complete-btn{
    background: rgb(73, 204, 73);
}

.trash-btn{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 30x;
}

.complete-btn:hover{
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
    box-shadow: 5px 0px 25px white;
    color: white;
}

.trash-btn:hover{
    box-shadow: 5px 0px 25px white;
    color: white;
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;;
}

.todo-item{
    padding: 0rem 1rem;
}

.date-item{
    padding: 0rem 1rem;
}

.time-item{
    padding: 0rem 1rem;
}

.date-item:hover{
    box-shadow: 10px 2px 50px white;
}

.time-item:hover{
    box-shadow: 10px 2px 50px white;
}

.todo-item:hover{
    box-shadow: 10px 2px 50px white;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

p{
    display:flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 2%;
    text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;
}

a{
    display:flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
    position: absolute;
    bottom: 92%;
    right: 96%;
    text-decoration: none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

a:hover{
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
    box-shadow: 0px 0px 25px white;
    color: white;
    // border-radius: 30%;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}